#map {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
    border-width: 12px;
}

.leaflet-container { 
    font-size: 1rem; 
}


#spot-name {
    font-size: 22px;
    padding: 0px;

    margin: 0px;
}

#spot-address {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: rgb(77, 76, 76);
}

#spot-description {
    padding-top: 12px;
    font-size: 14px;
    text-align: justify;    
}