@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

#title-desktop {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #09c372;
}

#title-mobile {
  font-weight: bold;
  font-size: 18px;
  display: none;
  margin-left: 30%;
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul a {
  color: rgb(7, 7, 7);
  font-size: 12px;
}

ul li {
  margin-left: 8px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#listview {
  border-radius: 5px;
  padding: 5px 8px;
}


#listview {
  border: 1px solid #3867ff;
  padding: 1px 5px 1px 5px;
}

#listview a {
  color: #3867ff;
}

#searchbox {
  margin-right: 0px;
  border-radius: 5px;
  border-width: 1.5px;
  padding: 3px;
  font-size: 12px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  #title-desktop {
    display: none;
  }
  #title-mobile {
    display: inline;
  }
  #searchbox {
    width: 60vw;
  }
}
