@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#title-desktop {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #09c372;
}

#title-mobile {
  font-weight: bold;
  font-size: 24px;
  display: none;
  margin-left: 10%;
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul a {
  color: rgb(7, 7, 7);
  font-size: 12px;
}

ul li {
  margin-left: 15px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#listview {
  border: 1px solid #3867ff;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
}
#listview a {
  color: #3867ff;
}

#mapview {
  border: 1px solid #00cbce;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  
}
#mapview a {
  color: #00cbce;
}

#search-box {
  border-radius: 5px;
  border-width: 1.5px;
  padding: 3px;
  font-size: 12px;
  width: 200px;
  height: 26px;
}

@media only screen and (max-width: 600px) {
  #title-desktop {
    display: none;
  }
  #title-mobile {
    display: block;
  }
  #searchbox {
    width: 60vw;
  }
  header {
    padding: 0;
  }
}
